--##HUD bars example config file##
------------------------------------
-- This example moves the health bar in the top left corner and the hunger bar in the top right corner


--!NOTICE!--
-- >>if damage is disabled neither health bar nor breath bar is shown

--
-- health bar
--
HUD_HEALTH_POS = {x=0,y=0}			--min 0, max 1
HUD_HEALTH_OFFSET = {x=5,y=30}		--offset in pixel

--
-- breath bar
--
HUD_AIR_POS = {x=0.5,y=1}		--min 0, max 1
HUD_AIR_OFFSET = {x=15,y=-75}	--offset in pixel

